.top_nav {
  display: flex;
  flex-direction: row;
  margin: 5rem 0 1.75rem 0;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-style: solid;
}
.nav_ul {
  list-style: none;
  display: flex;
  margin: 0;
}
.nav_li {
  margin: 0 2.5rem 0 0;
}
.li_link {
  box-shadow: none;
  text-decoration: none;
  font-size: 1rem;
}